<ul>
  <li><%= link_to 'Tasklist', tasks_path %></li>
  <li><%= link_to 'Signup', signup_path %></li>
  <li><%= link_to 'Login', login_path %></li>
  <li><%= link_to 'Logout', logout_path, method: :delete %></li>
</ul>